<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tables</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      body {
        padding: 20px;
      }

      table {
        width: 100%;
        margin-bottom: 20px;
        border-collapse: collapse;
        border: 1px black solid;
      }

      table,
      th,
      td {
        border: 1px solid black;
      }

      th,
      td {
        padding: 8px;
        text-align: center;
        background-color: rgb(154, 229, 246);
      }

      td.absent {
        background-color: rgb(249, 83, 83);
      }
      td.not-absent {
        background-color: rgb(150, 249, 127);
      }

      .download-btn {
        margin-top: 10px;
      }
    </style>
  </head>
  <body>
    <% let i, j, k = 0, tableName = 1; %> <% let remainingData = locals.data.length; %>
    <center><a class="btn btn-primary" href="/">Home</a></center>
    <button class="btn btn-primary" style="position: absolute;margin-left: 85%" onclick="downloadTable()">Download</button>
    <form action="/students" method="get" >
      <button class="btn btn-outline-success m" type="submit">Student list</button>
      
    </form>
    
    <br />
    <% let date = new Date(locals.date.toLocaleString()); %>
    <% date = date.getDate()+"/" +(date.getMonth()+1)+"/"+date.getFullYear(); %>
    <h3>Date : <%= date %></h3>
    <% while (remainingData > 0) { %>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="<%= locals.cols %>">Table: <%= tableName++ %></th>
        </tr>
      </thead>
      <% for (i = 0; i < locals.rows; i++) { %>
      <tr>
        <% for (j = 0; j < locals.cols; j++) { %> <% if (remainingData > 0) { %>
        <% if (locals.data[k].absent) { %>
        <td class="absent">
          
          <form action="/students/<%= k %>" method="get">
            <button type="submit"><%= locals.data[k++].regno %> ❌</button>
          </form>
          
        </td>
        <% } else { %>
        <td class="not-absent">
          <form action="/students/<%= k %>" method="get">
            <button type="submit"><%= locals.data[k++].regno %> ✅</button>
          </form>
        </td>
        <% } %> <% } else { %>
        <td></td>
        <% } %> <% remainingData--; %> <% } %>
      </tr>
      <% } %>
    </table>
    <% } %>
    <script>
      // const date = document.getElementsByTagName("h3")
      // date.item(0).innerHTML += new Date().toLocaleString().slice(0, -10);
      function downloadTable(){
        window.print()
      }
    </script>
  </body>
</html>